@page "/"
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas;
@using Blazor.Extensions.Canvas.Canvas2D;
@using Clockface; 
@using Utilities; 
@using External;

<style>
    body {
        background-color: black;
    }
</style>

<div>
    <BECanvas Width="1210" Height="750" @ref="_canvasReference"></BECanvas>
</div>

@code
{
    private Canvas2DContext _context = null;
    protected BECanvasComponent _canvasReference = null;
    private Predictions External = null;
    private BlazorCanvas Canvas = null;
    private DigitalClock DigitalClock = null;
    private RegionBlazorCanvas DigitalClockCanvas = null;
    private WeatherList Weather = null;
    private RegionBlazorCanvas WeatherCanvas = null;
    private DetailList Detail = null;
    private RegionBlazorCanvas DetailCanvas = null;
    private TideClock TideClock = null;
    private RegionBlazorCanvas TideClockCanvas = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // init graphics
        if (_context == null)
        {
            _context = await _canvasReference.CreateCanvas2DAsync();
            await _context.SetFillStyleAsync("rgba(0,0,0,1.0)");
            await _context.FillRectAsync(x: 0, y: 0, _canvasReference.Width, _canvasReference.Height);
        }

        // scaled up from 1024x600
        var wratio = ((float)_canvasReference.Width / (float)1024);
        var hratio = ((float)_canvasReference.Height / (float)600);

        // init external data
        if (External == null) External = new Predictions("La Push, WA", noahStationId: 9442396, lat: 47.9133f, lng: -124.6369f, subnet: "");

        // init components
        if (Canvas == null) Canvas = new BlazorCanvas(_context, _canvasReference.Width, _canvasReference.Height);

        // digital clock
        if (DigitalClockCanvas == null) DigitalClockCanvas = new RegionBlazorCanvas(Canvas, new Point() { X = ((524f / 2f) - (200f / 2f)) * wratio, Y = (524f + 5f) * hratio }, regionwidth: (long)(200 * wratio), regionheight: (long)(50 * hratio));
        if (DigitalClock == null) DigitalClock = new DigitalClock(DigitalClockCanvas, hasseconds: false, digitalclockface: true);

        // weather
        if (WeatherCanvas == null) WeatherCanvas = new RegionBlazorCanvas(Canvas, new Point() { X = 524 * wratio, Y = 400 * hratio }, regionwidth: (long)(500 * wratio), regionheight: (long)(200 * hratio));
        if (Weather == null) Weather = new WeatherList(WeatherCanvas, External);

        // details
        if (DetailCanvas == null) DetailCanvas = new RegionBlazorCanvas(Canvas, new Point() { X = 524 * wratio, Y = 0 }, regionwidth: (long)(500 * wratio), regionheight: (long)(400 * hratio));
        if (Detail == null) Detail = new DetailList(DetailCanvas, External);

        // tide clock
        if (TideClockCanvas == null) TideClockCanvas = new RegionBlazorCanvas(Canvas, new Point() { X = 0, Y = 0 }, regionwidth: (long)(524 * wratio), regionheight: (long)(524 * hratio));
        if (TideClock == null) TideClock = new TideClock(TideClockCanvas, External, lowresolution: true);
    }
}
